# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/package-lock.json
/server/node_modules
/server/.env

/client/node_modules
/client/package-lock.json